// ============================================================
// Buttons
// ============================================================
@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

%btn-base {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  font-family: $font-primary;
  font-size: 13.5px;
  font-weight: 500;
  border: none;
  border-radius: $radius-md;
  cursor: pointer;
  transition: $transition-fast;
  white-space: nowrap;
  padding: 9px 18px;

  &:disabled {
    opacity: 0.6;
    cursor: not-allowed;
    transform: none !important;
  }
}

.btn-primary-erp {
  @extend %btn-base;
  background: $primary-light;
  color: #fff;

  &:hover {
    background: $primary;
    transform: translateY(-1px);
    box-shadow: $shadow-md;
  }

  &--sm {
    padding: 6px 12px;
    font-size: 12.5px;
  }

  &--xs {
    padding: 4px 8px;
    font-size: 11.5px;
  }

  &--lg {
    padding: 12px 24px;
    font-size: 15px;
  }

  &--full {
    width: 100%;
  }
}

.btn-outline-erp {
  @extend %btn-base;
  background: transparent;
  color: $text-muted;
  border: 1px solid $border;

  &:hover {
    background: $bg;
    color: $text;
    border-color: $text-light;
  }

  &--sm {
    padding: 5px 12px;
    font-size: 12.5px;
  }

  &--xs {
    padding: 3px 8px;
    font-size: 11.5px;
  }

  &--full {
    width: 100%;
  }
}

.btn-danger-erp {
  @extend %btn-base;
  background: $danger-bg;
  color: $danger;

  &:hover {
    background: $danger-border;
  }

  &--sm {
    padding: 5px 10px;
    font-size: 12px;
  }
}

.btn-success-erp {
  @extend %btn-base;
  background: $success-bg;
  color: $success;

  &:hover {
    background: $success-border;
  }
}

.btn-accent-erp {
  @extend %btn-base;
  background: $accent;
  color: $primary;
  font-weight: 600;


// &:hover {
//     background: color.adjust($accent, $lightness: -8%);
//   }
}

.btn-icon {
  width: 32px;
  height: 32px;
  @include flex-center;
  border-radius: $radius-md;
  border: 1px solid $border;
  background: $surface;
  color: $text-muted;
  font-size: 14px;
  cursor: pointer;
  transition: $transition-fast;

  &:hover {
    background: $bg;
    color: $text;
  }

  &--danger:hover {
    background: $danger-bg;
    color: $danger;
    border-color: $danger-border;
  }

  &--success:hover {
    background: $success-bg;
    color: $success;
    border-color: $success-border;
  }

  &--primary:hover {
    background: $primary-50;
    color: $primary-light;
    border-color: $primary-100;
  }
}